
body {
    font: 20px Oswald, sans-serif !important;
    line-height: 1.8;
    color: #1d1e1f;
    background-color: #E8EAF6;
}

p {
    padding: 0 !important;
    font-size: 18px;
}

h3 { color: #3F51B5 !important; }

#map {
    height: 450px;
    width: auto;
    margin: 0 70px 20px 70px;
}

.margin {margin-bottom: 20px;}
.img-responsive {
    cursor: pointer;
}
/*.img-responsive img:hover {
    opacity: 0.1;
    transition: 0.3s;
}*/


/*.text_p {
    text-align: justify !important;
    padding: 0 10% 0 10% !important;
}*/


.bg-1 {
    padding-top: 100px !important;
    background-color: white;
    color: #1d1e1f;
    margin-left: 70px !important;
    margin-right: 70px !important;
}
.col-sm-4 {
    padding: 5px !important;
}
.col-sm-4 img:hover {
    opacity: 0.6;
    transition: 0.3s;
}
.bg-2 {
    padding-top: 70px !important;
    background-color: white;
    color: #1d1e1f;
    border-style: solid none none none;
    border-width: 2px;
    border-color: #3F51B5;
    margin-left: 70px !important;
    margin-right: 70px !important;
}

/*.about {
    padding-left: 300px;
    padding-right: 300px;
}*/
.bg-3 {
    padding-top: 70px !important;
    background-color: white;
    color: #1d1e1f;
    border-style: solid none none none;
    border-width: 2px;
    border-color: #3F51B5;
    margin-left: 70px !important;
    margin-right: 70px !important;
}
.bg-4 {
    text-align: left !important;
    padding-left: 0 !important;
    font-size: 17px;
    border-style: solid none none none;
    border-width: 2px;
    background-color: white;
    color: #3F51B5;
    margin-left: 70px !important;
    margin-right: 70px !important;
}
.container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-header a:hover {
    color: #1A237E !important;
    transition: color 150ms ease-in-out;
}
.navbar-nav li a {
    color: #3F51B5 !important;
    display: block;
    width: 100%;
}
.navbar-nav li a:hover {
    color: #1A237E !important;
    transition: color 150ms ease-in-out;
}

.navbar-brand {
    color: #3F51B5 !important;
    font-size: 25px !important;
}
.navbar-brand a:hover{
    color: #1d1e1f !important;
}

footer a {
    color: #3F51B5;
}
footer a:hover {
    text-decoration: none;
    color: #3F51B5;
}
.icon {
    width: 20px;
    height: 20px;
}
/*.skills {
    margin: 0;
    padding: 0 300px 0 300px!important;
}*/
/*.about {
    align-content: center !important;
}*/


/*#myImg {
    cursor: pointer;
    transition: 0.3s;
}*/
/*#myImg:hover {
    opacity: 0.7;
}*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #cccccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1) }
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px !important;
    right: 35px !important;
    color: #f1f1f1 !important;
    font-size: 70px !important;
    font-weight: bold !important;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb !important;
    text-decoration: none !important;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}







